#einkaufswagen {
    border: 1px solid #113352;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    right:0;
    float: right;
    margin-left: 2.5rem;
    margin-right: 2.5rem;

}

.icon-shopping {
    margin-top: 5.6rem;
    float: right;
    margin-bottom: 1rem;
}

.secondary-background {
    background-color: white;
    color: #113352;
}
