.home-categorie-item-picture{
    width: 100%;
    height: auto;
}

.home-categorie-item-title{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.home-categorie-item-paragraph{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.left button, .right button, button{
    margin-left: 2.5rem;
    background-color: #113352;
    color: white;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    display:flex;
}
.primary-colored-button.right, .right {
    margin-left: auto;
    margin-right: 2.5rem;
}

p{
    font-size: 12pt;
    margin-botton: 1rem;
}

.left{
    flex-direction: column;
    text-align: left;
}

.right{
    flex-direction: column;
    text-align: right;
}
.home-categorie-container {
    display: flex;
    flex-direction: column;
}
.home-categorie-container:first-child{
    padding-top: 5.6rem;
}
.home-categorie-container:last-child {
    padding-bottom: 5rem;
}
