.tapbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tapbar-item .active {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tapbar-item-name {
    font-size: 8pt;
    color: #113352;
}
.tapbar-item-name.active {
    font-size: 10pt;
    color: #69D1FF;
}


a {
 text-decoration: none;
}
