.scroll-container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 7rem;

}


.scrollen {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    padding: 0.4rem;

}
.firma {
    min-width: 12rem;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    margin-right: 2rem;
    flex-direction: column;
    box-shadow: 0 0px 8px rgb(0 0 0 / 25%);
}

.blue-background {
    background-color: #113352;
    padding-bottom: 0;
    margin-bottom: 0;
}
#firma {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: auto;

}
#firma-big {
    width: 100%;

    margin-bottom: 2rem;
}

.firma-title {
    font-size: 12pt;
    font-weight: bold;
    margin-right: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 1.5rem;
}
.firma-region {
    font-size: 10pt;
    color: rgba(17,51,82 ,0.7);
    margin-left: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}
.firma-bewertung {
    background-color: #69D1FF;
    width: fit-content;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: -10rem;
    margin-bottom: 9rem;
    margin-left: 6rem;
    color: white;
}
.firma-row {
    display: flex;
    flex-direction: row;
}

.icon-checked, .icon-unchecked {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border: 1px solid #113352;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.icon-checked{
    background-color: #113352;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-label-checked {
    color: #113352;
    font-size: 10pt;
}
.icon-label {
    color: rgba(17,51,82 ,0.7);
    font-size: 10pt;
}

.firma-h4{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

a {
    color: #113352;
}

.h5-firma {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.firma-container {
    padding-top: 5.6rem;
    padding-bottom: 7rem;
}

#rezensionen-trucks {
    width: 5rem;
    height: 1rem;
    margin: auto auto;
    display: flex
}
.container-row {
    display: flex;
    flex-direction: row;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    justify-content: space-between;
}

.graueBox {
    background-color: #F4F5F7;
    width: 6rem;
    height: 6rem;
    border-radius: 5px;
}

.number {
    color: #113352;
    font-size: 16pt;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}

.kriterium {
    color: rgba(17,51,82 ,0.7);
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    margin-bottom: 0.5rem;
}


#backarrow {
    margin-left: 2.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.row-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.biggreybox-bewertungen {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 10px;
    width: 80%;
    background-color: #F4F5F7;
}

.bewertung-nutzer {
    display: flex;
    flex-direction: row;
}
