
.bottom-dividing-line {
    border-bottom: solid 1.5px darkblue;
    position: relative;

}

.bottom-dividing-line:after {
    content: '';
    border-bottom: solid 1.5px #69D1FF;
    width: 100%;
    position: absolute;
    bottom: -7px;
}
