.primary-colored-button {
    margin-left: 2.5rem;
    background-color: #113352;
    color: white;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    display: flex;
    font-size: 12pt;
    text-align: center;
    width: fit-content;
    margin-bottom: 2rem;
}
