
.top-dividing-line {
    border-bottom: solid 1.5px #69D1FF;
    position: relative;
    margin-bottom: 10px;

}

.top-dividing-line:after {
    content: '';
    border-bottom: solid 1.5px white;
    width: 100%;
    position: absolute;
    bottom: -7px;
}
